<ul>
  {{#each model as |track| }}
      <li>
          <a href="#" {{action 'openModal' 'track' track}}>
            {{track.artist}} - {{track.title}}
          </a>

      </li>
  {{else}}
      <li class="empty">No tracks found</li>
  {{/each}}
</ul>
<ul class="list-inline">
    <li>
        <a href="#" {{action 'goPage' 1}}>Page 1</a>
    </li>
    <li>
        <a href="#" {{action 'goPage' 2}}>Page 2</a>
    </li>
</ul>

{{outlet}}
